<div class="card border-0">
  <div class="card-header text-center">
    <span class="fs-6">{{ cityWeatherData.name }}</span>
  </div>
  <div class="card-body d-flex flex-column">
    <div class="p-1 text-center">
      <img src="{{'http://openweathermap.org/img/wn/'+cityWeatherData.weather[0].icon +'@2x.png'}}"
        [alt]="cityWeatherData.name" class="weather-icon">
    </div>
    <p class="celcius">{{cityWeatherData.main.temp}}</p>
    <pre>
    {{ cityWeatherData | json}}
   </pre>
  </div>
</div>
