.weather-icon {
  width: 5rem;
}

.card {
  min-width: 230px;
}

.metric.temp::after {
  content: "\2103";
}

.standard.temp::after {
  content: "\00BA\212A";
}

.imperial.temp::after {
  content: "\2109";
}

.metric.wind::after {
  content: "m/sec";
}

.standard.wind::after {
  content: "m/sec";
}

.imperial.wind::after {
  content: "mil/h";
}
